1500W_750W_FORTEST_code/1500W_750W_FORTEST/DriveBLDC750W.X/build

1500W_750W_FORTEST_code/1500W_750W_FORTEST/test.X/build

1500W_750W_FORTEST_code/1500W_750W_FORTEST/OBJ

1500W_750W_FORTEST_code/1500W_750W_FORTEST/DriveBLDC750W.X/dist/default/production/DriveBLDC750W.X.production.elf

1500W_750W_FORTEST_code/1500W_750W_FORTEST/DriveBLDC750W.X/dist/default/production/DriveBLDC750W.X.production.map

ControlBoardHwVersion2_code/ControlBoardHwVersion2/Debug/

DisplayBoardHwVersion2_code/DisplayBoardHwVersion2/Debug/

BEAD DRIVE_code/SHEET SHUTTER DRIVE/DriveBLDC750W.X/build

BEAD DRIVE_code/SHEET SHUTTER DRIVE/test.X/build

BEAD DRIVE_code/SHEET SHUTTER DRIVE/OBJ

BEAD DRIVE_code/SHEET SHUTTER DRIVE/DriveBLDC750W.X/dist/default/production/DriveBLDC750W.X.production.elf

BEAD DRIVE_code/SHEET SHUTTER DRIVE/DriveBLDC750W.X/dist/default/production/DriveBLDC750W.X.production.map

M1 DRIVE_code/SHEET SHUTTER DRIVE/DriveBLDC750W.X/build

M1 DRIVE_code/SHEET SHUTTER DRIVE/test.X/build

M1 DRIVE_code/SHEET SHUTTER DRIVE/OBJ

M1 DRIVE_code/SHEET SHUTTER DRIVE/DriveBLDC750W.X/dist/default/production/DriveBLDC750W.X.production.elf

M1 DRIVE_code/SHEET SHUTTER DRIVE/DriveBLDC750W.X/dist/default/production/DriveBLDC750W.X.production.map

M2 DRIVE_code/SHEET SHUTTER DRIVE/DriveBLDC750W.X/build

M2 DRIVE_code/SHEET SHUTTER DRIVE/test.X/build

M2 DRIVE_code/SHEET SHUTTER DRIVE/OBJ

M2 DRIVE_code/SHEET SHUTTER DRIVE/DriveBLDC750W.X/dist/default/production/DriveBLDC750W.X.production.elf

M2 DRIVE_code/SHEET SHUTTER DRIVE/DriveBLDC750W.X/dist/default/production/DriveBLDC750W.X.production.map

.vscode
